<div class="container new-user-form">
  <section class="section">
    <h1 class="title">Add a new user</h1>
      <!-- New User Form-->
        <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
            <!-- Name -->
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" placeholder="Insert name" formControlName="nameUser">
              </div>
              <!-- <p class="help is-danger" *ngIf="submitted && f.nameUser.errors">Name is required</p> -->
            </div>
 
          <!--Roles -->
            <div class="field">
                <label class="label">Role</label>
                <div class="control">
                  <!--Display roles-->
                <div class="select">
                      <select formControlName="selectedRole" (change)="capturar()">
                          <option value="0">Select a role</option>
                          <option *ngFor="let role of roles">
                            {{role}}
                          </option>
                      </select>
                  </div>
                </div>
                <!-- <p class="help is-danger" *ngIf="submitted && f.role.errors">You must to select a role</p> -->
            </div>

            <!--Username -->
           <div class="field">
              <label class="label">Username</label>
              <div class="control">
                  <input class="input" type="text" placeholder="Enter username" 
                  formControlName="username">
                </div>
                <!-- <p class="help is-danger" *ngIf="submitted && f.username.errors">
                  Username is required
                </p> -->
            </div>

            <!-- Password -->
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" placeholder="Enter a password" formControlName="password">
                  </div>
                  <!-- <p class="help is-danger" *ngIf="submitted && f.password.errors">
                    Password is required
                  </p> -->
           </div>
      
            <div class="container">
                <button type="submit" class="button is-info">Submit</button>
            </div>
        </form>

      <!-- End Form -->
    </section>
  </div>