<div class="card section loginCard">
  <div class="card-content section">
      <div class="is-size-3">
        <h1>Login</h1>
      </div>
      <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="username" [(ngModel)]="username" placeholder="Username">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" [(ngModel)]="password" placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <a class="button is-link is-rounded" (click)="verify()">Login</a>
        <a class="button is-rounded" (click)="clear()">Cancel</a>
  </div>
</div>